* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  html, body {
    height: 100%;
    font-family: Arial, sans-serif;
  }
  
  #container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Full viewport height */
    background-color: hsl(212, 45%, 89%); /* Example background color */
  }
  
  #cardwrapper {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  #card {
    height:497px;
    width:320px;
    background-color: white;
    border-radius: 15px;     
    text-align: center;

  }
  
  #card-image {
    margin-left:0px;
    margin-bottom: 20px;
    
  }
  #card-image .image{
    border-radius:15px;
  }
  
  h1 {
    font-size: 1.5em;
    margin-bottom: 10px;
  }
  
  p {
    color: #555;
  }